# 1. Series

* Series란?
Data의 컬럼이 1개인 구조, index(행)과 1개의 열로 구성  
-> 열이 여러개면 DataFrame이 됨

## 1.1 Series 만드는 법

* pd.Series()에 Datatype이 list, dict인 구조로 만들 수 있음
* 딕셔너리의 경우 key, value가 함께 만들어짐

In [6]:
# 판다스 불러오가
import pandas as pd

In [14]:
# Data Type이 리스트인 경우
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [1, 2, 3, 'apple', 'play', 6, 7, 8, 9]

sr1 = pd.Series(list1) # pd.Series(대상 데이터)
print(sr1)

sr2 = pd.Series(list2) # value의 타입이 달라도 상관 없음
print(sr2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0        1
1        2
2        3
3    apple
4     play
5        6
6        7
7        8
8        9
dtype: object

In [18]:
# Series에 Name 설정

sr1.name = "Number" # Value열의 이름을 설정
sr2.name = "Word"

print(sr1)
print(sr2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: Number, dtype: int64
0        1
1        2
2        3
3    apple
4     play
5        6
6        7
7        8
8        9
Name: Word, dtype: object

In [28]:
# Data Type이 딕셔너리인 경우
dic1 = {"a": 1, "b": 2, "c": 3, "d": 4}

sr3 = pd.Series(dic1)
sr3.name = "Number"
print(sr3)

a    1
b    2
c    3
d    4
Name: Number, dtype: int64

* key값이 index로<br>
* value값이 값으로 들어가는 것을 볼 수 있음

## 1.2 삼성전자 종가 Series로 불러오기

pd.read_csv() 함수에서 주로 사용하는 요소들을 공부
* path: 파일 경로
* index_col: index로 지정할 컬럼
* squezze: Series로 지정할지 여부
* header: 헤더값의 index

In [46]:
import pandas as pd

a = pd.read_csv("삼성전자 종가.csv") # 파일 주소로 불러오기(절대 주소, 상대 주소 모두 가능)
print(a)
type(a) # 이 경우 열이 2개이기 때문에 데이터프레임 타입임

           Date  Close
0    2018-01-02  51020
1    2018-01-03  51620
2    2018-01-04  51080
3    2018-01-05  52120
4    2018-01-08  52020
..          ...    ...
972  2021-12-13  76800
973  2021-12-14  77000
974  2021-12-15  77600
975  2021-12-16  77800
976  2021-12-17  78000

[977 rows x 2 columns]

pandas.core.frame.DataFrame

In [54]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0) # 0번째 열이 index가 됨
print(a)
type(a) # 하지만 이 경우에도 타입은 df

            Close
Date
2018-01-02  51020
2018-01-03  51620
2018-01-04  51080
2018-01-05  52120
2018-01-08  52020
...           ...
2021-12-13  76800
2021-12-14  77000
2021-12-15  77600
2021-12-16  77800
2021-12-17  78000

[977 rows x 1 columns]

pandas.core.frame.DataFrame

In [60]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0).squeeze() # squeeze()함수를 통해 Series로 지정 가능
print(a)
type(a)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

pandas.core.series.Series

In [66]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0, header = 1).squeeze() # header값 인덱스를 1으로 지정
print(a) # index의 헤더값이 1번째 값이 된 것을 볼 수 있음

2018-01-02
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
2018-01-09    50400
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: 51020, Length: 976, dtype: int64

In [72]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0, header = 0).squeeze() # header값 인덱스를 0으로 지정
print(a) # index의 헤더값이 Date가 된 것을 볼 수 있음

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

## 1.3 Series의 Index와 Value

* loc: index의 값을 통해 탐색
* iloc: index의 순서를 통해 탐색

In [78]:
import pandas as pd
samsung_price = pd.read_csv("삼성전자 종가.csv", index_col = 0, header = 0).squeeze()
print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [82]:
# samsung_price의 index만 따로 추출
print(samsung_price.index)

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [90]:
# 2020-12-15 Data가 있을까?
if '2020-12-15' in samsung_price.index: # 'in'을 사용하면 bool타입으로 값이 있는지 반환
    print(samsung_price.loc['2020-12-15']) # loc는 index의 값을 통해 value를 꺼내올 수 있음

73800

In [98]:
# 100번째 Data값은?

print(samsung_price.iloc[100]) # iloc는 index값을 이용해 출력

49500