# 1. Series

* Series란?
Data의 컬럼이 1개인 구조, index(행)과 1개의 열로 구성  
-> 열이 여러개면 DataFrame이 됨

## 1.1 Series 만드는 법

* pd.Series()에 Datatype이 list, dict인 구조로 만들 수 있음
* 딕셔너리의 경우 key, value가 함께 만들어짐

In [6]:
# 판다스 불러오가
import pandas as pd

In [14]:
# Data Type이 리스트인 경우
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [1, 2, 3, 'apple', 'play', 6, 7, 8, 9]

sr1 = pd.Series(list1) # pd.Series(대상 데이터)
print(sr1)

sr2 = pd.Series(list2) # value의 타입이 달라도 상관 없음
print(sr2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0        1
1        2
2        3
3    apple
4     play
5        6
6        7
7        8
8        9
dtype: object

In [18]:
# Series에 Name 설정

sr1.name = "Number" # Value열의 이름을 설정
sr2.name = "Word"

print(sr1)
print(sr2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: Number, dtype: int64
0        1
1        2
2        3
3    apple
4     play
5        6
6        7
7        8
8        9
Name: Word, dtype: object

In [28]:
# Data Type이 딕셔너리인 경우
dic1 = {"a": 1, "b": 2, "c": 3, "d": 4}

sr3 = pd.Series(dic1)
sr3.name = "Number"
print(sr3)

a    1
b    2
c    3
d    4
Name: Number, dtype: int64

* key값이 index로<br>
* value값이 값으로 들어가는 것을 볼 수 있음

## 1.2 삼성전자 종가 Series로 불러오기

pd.read_csv() 함수에서 주로 사용하는 요소들을 공부
* path: 파일 경로
* index_col: index로 지정할 컬럼
* squezze: Series로 지정할지 여부
* header: 헤더값의 index

In [46]:
import pandas as pd

a = pd.read_csv("삼성전자 종가.csv") # 파일 주소로 불러오기(절대 주소, 상대 주소 모두 가능)
print(a)
type(a) # 이 경우 열이 2개이기 때문에 데이터프레임 타입임

           Date  Close
0    2018-01-02  51020
1    2018-01-03  51620
2    2018-01-04  51080
3    2018-01-05  52120
4    2018-01-08  52020
..          ...    ...
972  2021-12-13  76800
973  2021-12-14  77000
974  2021-12-15  77600
975  2021-12-16  77800
976  2021-12-17  78000

[977 rows x 2 columns]

pandas.core.frame.DataFrame

In [54]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0) # 0번째 열이 index가 됨
print(a)
type(a) # 하지만 이 경우에도 타입은 df

            Close
Date
2018-01-02  51020
2018-01-03  51620
2018-01-04  51080
2018-01-05  52120
2018-01-08  52020
...           ...
2021-12-13  76800
2021-12-14  77000
2021-12-15  77600
2021-12-16  77800
2021-12-17  78000

[977 rows x 1 columns]

pandas.core.frame.DataFrame

In [60]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0).squeeze() # squeeze()함수를 통해 Series로 지정 가능
print(a)
type(a)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

pandas.core.series.Series

In [66]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0, header = 1).squeeze() # header값 인덱스를 1으로 지정
print(a) # index의 헤더값이 1번째 값이 된 것을 볼 수 있음

2018-01-02
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
2018-01-09    50400
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: 51020, Length: 976, dtype: int64

In [72]:
a = pd.read_csv("삼성전자 종가.csv", index_col = 0, header = 0).squeeze() # header값 인덱스를 0으로 지정
print(a) # index의 헤더값이 Date가 된 것을 볼 수 있음

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

## 1.3 Series의 Index와 Value

* loc: index의 값을 통해 탐색
* iloc: index의 순서를 통해 탐색

In [78]:
import pandas as pd
samsung_price = pd.read_csv("삼성전자 종가.csv", index_col = 0, header = 0).squeeze()
print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [82]:
# samsung_price의 index만 따로 추출
print(samsung_price.index)

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [90]:
# 2020-12-15 Data가 있을까?
if '2020-12-15' in samsung_price.index: # 'in'을 사용하면 bool타입으로 값이 있는지 반환
    print(samsung_price.loc['2020-12-15']) # loc는 index의 값을 통해 value를 꺼내올 수 있음

73800

In [98]:
# 100번째 Data값은?

print(samsung_price.iloc[100]) # iloc는 index값을 이용해 출력

49500

## 1-4 Series에 새로운 행을 추가하고 싶을때?

In [8]:
import pandas as pd

samsung_price = pd.read_csv("삼성전자 종가.csv", index_col = 0, header=0).squeeze()

print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [14]:
# samsung_price의 총 길이는?
print(samsung_price.shape) # 행의 갯수, 열의 갯수를 튜플로 출력 
print(samsung_price.shape[0]) # 행만 잘라서 출력

(977,)
977

In [24]:
# loc를 통해 index 추가/수정하는 법
samsung_price['2021-12-20'] = 77100 # 기존에 존재하지 않았던 index를 넣어주어 새로운 값을 추가, loc는 생략하고 슬라이싱해도 결과는 같음
samsung_price.loc['2021-12-16'] = 0 # loc를 통해 값 수정
print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-14    77000
2021-12-15    77600
2021-12-16        0
2021-12-17    78000
2021-12-20    77100
Name: Close, Length: 978, dtype: int64

In [26]:
samsung_price.iloc[1000] = 0 # iloc는 기존에 존재하지 않았던 index에 접근하면 오류 발생

IndexError: iloc cannot enlarge its target object

## 1.5 두 개의 Series 연결

pd.read_excel('주소', sheet_name='시트이름', index_col) 양식으로 excel파일을 읽어줄 수 있음
* sheet_name을 지정하지 않았을 경우 첫 시트가 불러와짐

In [53]:
import pandas as pd

series1_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet1', index_col=0).squeeze()
print(series1_samsung)

series2_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet2', index_col=0).squeeze()
print(series2_samsung)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2019-12-23    55500
2019-12-24    55000
2019-12-26    55400
2019-12-27    56500
2019-12-30    55800
Name: Close, Length: 490, dtype: int64
Date
2020-01-02    55200
2020-01-03    55500
2020-01-06    55500
2020-01-07    55800
2020-01-08    56800
              ...
2021-12-20    77100
2021-12-21    78100
2021-12-22    79400
2021-12-23    79900
2021-12-24    80500
Name: Close, Length: 492, dtype: int64

pd.concat([시리즈1, 시리즈2], ignore_index=bool)
* concat 함수를 통해 두 시리즈를 이어줄 수 있음
* 이때 ignore_index=False여야 기존 index를 유지하면서 붙일 수 있음

In [79]:
series_samsung = pd.concat([series1_samsung, series2_samsung], ignore_index=False)
print(series_samsung)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-20    77100
2021-12-21    78100
2021-12-22    79400
2021-12-23    79900
2021-12-24    80500
Name: Close, Length: 982, dtype: int64

## 1.6 Series 기본 통계치 구하기

In [82]:
import pandas as pd

samsung_price = pd.read_csv('삼성전자 종가.csv', index_col=0, header=0).squeeze()
print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [86]:
# 기초 통계

print(samsung_price.max()) # 최대값
print(samsung_price.min()) # 최소값
print(samsung_price.describe()) # 기초통계

91000
37450
count      977.000000
mean     57295.854657
std      14084.402274
min      37450.000000
25%      46300.000000
50%      51300.000000
75%      70200.000000
max      91000.000000
Name: Close, dtype: float64

In [94]:
# 그렇다면 최댓값과 최소값일 때 index는 어떻게 찾을까?

print(samsung_price.argmax()) # 최댓값일 때 index(순서)
print(samsung_price.argmin()) # 최소값일 때 index(순서)

743
246

In [102]:
# 위에서 찾은 순서를 이용해 index값을 구해보자
print(samsung_price.index[samsung_price.argmax()]) # index 리스트를 통해 최댓값 일때 index value를 찾기
print(samsung_price.index[samsung_price.argmin()]) # index 리스트를 통해 최소값 일때 index value를 찾기

2021-01-11
2019-01-04

## 1.7 Series 연산
* 부제: 삼성전자 수익률 구하기

In [105]:
import pandas as pd

samsung_price = pd.read_csv("삼성전자 종가.csv", index_col=0, header=0).squeeze()
print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [111]:
# array.shift(n=1): value를 n칸씩 뒤로 밀어주는 메소드
samsung_price.shift()

Date
2018-01-02        NaN
2018-01-03    51020.0
2018-01-04    51620.0
2018-01-05    51080.0
2018-01-08    52120.0
               ...
2021-12-13    76900.0
2021-12-14    76800.0
2021-12-15    77000.0
2021-12-16    77600.0
2021-12-17    77800.0
Name: Close, Length: 977, dtype: float64

In [117]:
print(samsung_price - samsung_price.shift(1)) # 오늘의 값 - 하루 전 (첫 날은 NaN이 계산에 끼니까 NaN)

Date
2018-01-02       NaN
2018-01-03     600.0
2018-01-04    -540.0
2018-01-05    1040.0
2018-01-08    -100.0
               ...
2021-12-13    -100.0
2021-12-14     200.0
2021-12-15     600.0
2021-12-16     200.0
2021-12-17     200.0
Name: Close, Length: 977, dtype: float64

In [123]:
print((samsung_price - samsung_price.shift(1)) / samsung_price.shift(1)) # 수익률 시리즈 출력

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [127]:
print(samsung_price.pct_change()) # 위에서 계산한 변동률을 계산해 출력해 주는 함수

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [138]:
# 그렇다면 최대 수익률을 구하는 법은? -> 배웠잔아!!!

pct = samsung_price.pct_change()

print(pct.index[pct.argmax()]) # 수익률 Series에서 argmax로 인덱스에 접근

2020-03-24

## 1.8 Nan값
* fillna(n) Nan값을 n으로 채우기
* dropna() Nan값 버리기

In [141]:
import pandas as pd

samsung_price = pd.read_csv("삼성전자 종가.csv", index_col=0, header=0).squeeze()
pct = samsung_price.pct_change()
print(pct)

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [148]:
# 계산 과정에서 결측치를 만들어 버리는 Nan값을 처리하기
pct.fillna(0) # Nan값 0으로 채우기

Date
2018-01-02    0.000000
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [150]:
pct.dropna() # Nan값 제거

Date
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
2018-01-09   -0.031142
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 976, dtype: float64